* {
    margin: 0;
    padding: 0;
}

nav {
    background: #e2e3e5;
}

.content {
    background-color: #e2e3e5;
    border-bottom: 1px solid #d3d5d4;
    display: flex;
    height: 50px;
}

li {
    border-left: 1px solid #d3d5d4;
    list-style: none;
    padding-top: 16px;
    width: 115px;
}

li:hover {
    background: #fff;
}

.sub-menu li:hover {
    background: #fff;
}

ul li { 
    position: relative; 
}

li ul { 
    position: absolute; 
    top: 50px; 
    display: none; 
}

li ul li ul {
    position: absolute; 
    left: 115px;
    top: 0;
}

.dropdown-menu {
    background: url('../img/arrow-down.png') 87px 23px no-repeat;
    z-index: 1;
}

.sub-menu li {
    background: #e2e3e5;
    border: 1px solid #d3d5d4;
    padding-bottom: 20px;
}

.content a {
    color: #000;
    font-family: sans-serif;
    font-size: 13px; 
    text-decoration: none;
    margin-left: 30px;
}

.content a:hover {
    color: #A6ABAB;
}